// Hacks

// Sidebar category font size

.category-heading p {
  font-size: 1.0157em;
}

// Make the table fit in mobile

@media screen and (max-width: 600px) {
  .topic-list-item td.main-link {
    display: block;
  }

  .topic-list-item td:not(.main-link):not(.bulk-select) {
    display: inline-block;
  }

  .topic-list-item .num.views {
      display: none !important;
  }

  .topic-list-item .num.posts::before {
    content: 'Replies';
  }

  .topic-list-item .num.activity::before {
    content: 'Activity';
  }

  .topic-list thead th:not(:first-of-type):not(.default) {
      display: none;
  }
}

// Make the solved topic check the success color

.topic-status .d-icon-check-square-o {
    color: $success;
}

// Make pinned items lightly highlighted

.pinned {
    background-color: $highlight + rgb(255,255,89);
}

// Make pinned item pins the teritary color

.topic-list-icons .d-icon-thumbtack, .latest-topic-list .d-icon-thumbtack, .top-topic-list .d-icon-thumbtack, .topic-list .d-icon-thumbtack {
    color: $tertiary;
}

// Fix category images in the sidebar

.category-logo.aspect-image {
    --aspect-ratio: none !important;
    width: 100%;
    max-width: 100%;
}

// Fix the right padding in the table (was 0)

.category-list tbody .latest {
  padding-right: 10px;
}

// Sidebar

@media screen and (min-width: 1110px) {
  .navigation-topics,
  .categories-list,
  .tags-page,
  body[class*="category-"]:not(.archetype-regular):not(.archetype-banner) { 
    .wrap {
        max-width: 1400px;
    }
  }
}

@media screen and (max-width: 768px) {
  .navigation-topics,
  .categories-list,
  .tags-page,
  body[class*="category-"]:not(.archetype-regular):not(.archetype-banner) { 
    .wrap {
      max-width: 80%;
    }
  }

  .category-list tbody .latest {
    padding: 0 10px 10px 10px;
  }
}

// Only applying to main topic lists over 768px wide 
@media screen and (min-width: 768px) {
  .navigation-topics,
  .categories-list,
  .tags-page,
  body[class*="category-"]:not(.archetype-regular):not(.archetype-banner) { 
    
    #main-outlet {
      padding-top: 6.8572em;
    }
    
    // Structuring the main grid layout 
    
    .container:first-of-type { 
      grid-area: alerts;
    }
    
    .container:nth-of-type(2) { 
      grid-area: pins;
    }
    
    .list-controls {
      grid-area: nav;
    }
    
    .list-container {
      grid-area: topic-list;
    }
    
    #main-outlet {
      display: grid;
      grid-column-gap: 1.5em;
      
      @if $sidebar-alignment == "left" {
        grid-template-columns: 3fr 9fr; // 12 column grid
        grid-template-areas: 
        "alerts alerts"
        "pins pins"
        "nav topic-list";
      } @else {
        grid-template-columns:  9fr 3fr;
        grid-template-areas: 
        "alerts alerts"
        "pins pins"
        "topic-list nav";
        
      }
    }
    
    // Changing the layout to fit the grid 
    
    .category-breadcrumb {
      font-size: 1.1487em;
      .badge-wrapper.bullet .badge-category-parent-bg, 
      .badge-wrapper.bullet .badge-category-bg {
        width: 10px;
        height: 10px;
      }
      
      .select-kit.combo-box.category-drop .select-kit-row .badge-wrapper.box {
        font-weight: normal;
        padding: 4px 6px;
      }
    }
    
    .list-container { 
      min-width: 70%; // Don't let the topic list get too narrow
      .topic-list,
      .category-list, { 
        th {
          padding-top: 10px;
          padding-left: 10px;
        }
      }
    }
    .latest-topic-list .table-heading, 
    .top-topic-list .table-heading {
      padding-top: 10px;
      padding-left: 10px;
    }
    
    .list-controls {
      z-index: 100; // Above topic list content
      .container {
        position: -webkit-sticky;  // required for Safari
        position: sticky; 
        top: 5.8572em; // required for sticky
      }
      
      .btn {
        margin: 0;
      }
      
      #create-topic {
        flex: 1 1 auto;
        order: 5;
        margin-bottom: .5em;
      }
      
      button {
        order: 6;
      }
      .notifications-button {
        order: 7;
        button {
          height: 2em;
        }
      }
      
      .edit-category {
        flex: 1 1 auto;
        margin-right: .5em;
      }
      
      .categories-admin-dropdown {
        order: 8;
        margin-bottom: .5em;
        margin-left: .5em;
        margin-top: -1px;
        button {
          height: 2em; 
        }
      }
      
      .nav-pills {
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
        margin: .5em 0;
        li {
          margin: 0;
          &:empty {
            display: none;
          }
        }
        &>li>a {
          padding: .5em .714em;
        }
        @if $sidebar-alignment == left {
          &>li.active>a {
            &:after {
              content: "✓";
              display: inline;
              float: right;
            }
          }
        }
      }
      .select-kit-header {
        span.category-name {
          max-width: 8.5em;
        }
      }
      
      .category-navigation,
      .navigation-container {
        display: flex;
        flex-wrap: wrap;
        
      }
      ol {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 auto;
        margin: 0;
        li.category-drop,
        li.tag-drop {
          margin: 0;
          flex: 1 1 100%;
          &:not(:first-of-type) {
            margin: .5em 0 0 0;
          }
        }
      }
      
      .select-kit .select-kit-header .caret-icon {
        &:before {
          content: "\f0d7";
        }
      }
    }
  }
}

#bulk-select > button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
  transition: right 0.5s, bottom 0.5s, border-radius 0.5s, text-indent 0.2s, visibility 1s, width 0.2s ease, height 0.5s ease 0.4s, color 0.5s, background-color 2s, transform 0.5s;
  padding: 0;
  margin: 0;
  margin-bottom: 0px;
  width: 63px;
  height: 63px;
  border-radius: 40px;
  position: fixed;
  top: 120px;
  right: 50px;
  z-index: 999;
  background-color: #007ACE;
  color: #fafafa;
  white-space: nowrap;
  overflow: hidden;
}
